@charset "utf-8";
@import url("../webfonts/DOCALLISME_ON_STREET/stylesheet.css");
@import url("../webfonts/BroncoPersonalUse/stylesheet.css");
@import url("../webfonts/Bring_Race/stylesheet.css");
@import url("../webfonts/COMPANION/stylesheet.css");
@import url("../webfonts/Thermals/stylesheet.css");





.Titulo {
	color: #F0FF00;
	text-align: center;
	font-family: COMPANION;
	font-size: 80px;
	text-decoration: underline;
}
.Subtitulo {
	color: #000291;
	text-align: left;
	text-decoration: underline;
	font-size: xx-large;
	font-family: Thermals;
}
.Texto1 {
	color: #186C00;
	font-family: COMPANION;
	text-align: left;
	font-size: large;
}
.Texto2 {
	color: #0005FD;
	font-family: COMPANION;
	text-align: left;
	font-size: large;
}
.Texto3 {
	color: #CE0000;
	font-family: COMPANION;
	text-align: left;
	font-size: large;
}
.names {
	color: #01C800;
	font-family: BroncoPersonalUse;
}
